
    <div class="container p-2" >
        <div class="row">
            <div class="col-1">
            </div>


            <div class="col-10">
                <div class="row">
                   <div class="col-1">
                         <img src="../../assets/images/logo.jpg" width="130" height="120">
                    </div>
                    <div class="col-9">
                        <h1 style="color:crimson; text-align:center">Paradise Valley Public School</h1>
                        <h6 style="color:crimson; text-align:center">----Run by Paradise Valley Educational Society----</h6>
                    </div>
                </div>
            </div>


            <div class="col-1">
            </div>
        </div>
        <marquee direction="right" scrollamount="10" style="color:red">Admission Open :-For  Session 2020-2021</marquee>

    </div>

   <div class="menu-bar">
       
    
        
    
    
      Admission Enquiry:
       <a href="9990217155">+9990217155</a>


     <ul >

        <li> <a [routerLink]="['/home']">Home</a></li>
        <li >Informations
                 
            <div class="sub-menu-1">
                  <ul>
                     <li><a [routerLink]="['/schoolhours']"> School Hours</a></li>
                     <li><a [routerLink]="['/schooluniforms']"> School Uniforms</a></li>
                     <li><a [routerLink]="['/schoolrules']"> School Rules</a></li>
                     <li><a href="#"> Fee Structure</a></li>
                     
                     <li><a href="#"> List of Holidays</a></li>
                 </ul>
            </div>
        </li>

        <li>About Us
                    
            <div class="sub-menu-1">
                 <ul>
                     <li><a href="#">About Paradise</a></li>
                     <li><a [routerLink]="['/vision-mission']">Vision and Mission</a></li>
                     <li><a [routerLink]="['/director-message']">Director's Message</a></li>
                     <li><a [routerLink]="['/principal-message']">From The Desk of Principal</a></li>
                     <li><a href="#">Infrstructure and Facilities</a></li>
               </ul>
            </div>
        </li>

        <li style="float: left;">
         Gallery
        </li>

        <li><a [routerLink]="['/contactus']">Contact Us</a>
        </li>
        <li>Careers</li>

        <li >
            Login
        </li>

  </ul>
  
</div>
