<div style="background-color:black ;color:white"> 
    <div class="container">
    <div class="row"> 
        <div class="col mx-1">
            
            <p>About Us</p>
            <p>Enquiry For Admission</p>
            <p>Facilities</p>
            <p>School Information </p>
            <p>Partners</p>
        </div>
        

        <div class="col mx-1">
           
            <p>Academics</p>
            <p>Co-curricular Activities</p>
            <p>School infor for CBSE</p>
            <p>Campus Care Login</p>
            <p>Information Hub</p>
        </div> 
        <div class="col mx-1">
            
            <p>List of Holidays 2020-2021</p>
            <p>Important Contacts</p>
            <p> Downloads</p>
            <p> Photo Gallery</p>
            <p> Download SLC</p>
        </div> 
        <div class="col mx-1">
            
            <p>Contacts Us</p>
            <p>Privacy Policy</p>
            <p>Best Schools in Gurgaon</p>
            <p>Disclaimer</p>
            <p>Site Map</p>
        </div> 
        <div class="col mx-1">
            
            <p class='fas fa-map-marker-alt'> u-21 road </p>
            <p class='fas fa-phone'>800-4560-4567</p><br>
            <p class='fas fa-phone'>800-4560-4569</p>
        </div> 
    </div> 
    </div>
</div>
