<div class="container p-5">
    <h1 style="text-align:center; font-size:60px">School Rules</h1>
    <br><br>
        <ul > 
            <li>Every student should carry the school Diary daily.</li>
            <li>Students, who come to school on their own, should arrive at school 5 minutes before the bell rings. If a student is late to school he/she may be sent back home.</li>
            <li>Students should attend the school in neat and clean uniform prescribed for the season.</li>
            <li>No student is allowed to come to school in self-driven vehicle.</li>
            <li>Non-Sikh boy students should get their hair trimmed at regular intervals.</li>
            <li>Shouting and whistling is not allowed in the school.</li>
            <li>Students shall take utmost care of the school property in the premises. Any kind of damage done even by accident should be reported at once to the class teacher or the principal. Student will be held responsible for any damage caused by him/her and shall compensate for the loss.</li>
            <li>It is not advisable to bring any valuable articles to school. The school is not responsible for any goods lost.</li>
            <li>The school reserves the right to suspend/expel the student whose conduct is harmful to other students.</li>
            <li>A child who fails continuously for two years will not be permitted to continue his/her studies in the school.</li>
            <li>Students should bring the necessary text books, exercise books and any other requisite material regularly to school.</li>
            <li>Students are warned not to buy eatables from vendors outside the school.</li>
            <li>Girls should not apply nail polish or mehandi, nor wear fancy accessories to school.</li>
            <li>Students should get their report cards signed by their parents/guardians within 2 days of its receipt.</li>
            <li>Students should always remember that the school is judged by their conduct. They should greet their teachers when they meet them.</li>
            <li>Results declared at the end of the year are final and will not be reconsidered.</li>
            <li>Should there be any infectious disease at home the students are not to be sent to school till the risk of the infection has passed.</li>
            <li>Students will not be allowed to leave the school before the prescribed time unless there is an emergency.</li>
            <li>C.C.T.V. Cameras have been installed  for security purpose.</li>
            
            
        </ul>
    
</div>
