<div class="container">
    <div class="row">
        <div class="col-12 p-5">
            <h1 style="text-align:center; font-size:60px">School Hours</h1>
            <br><br><br><br>
            <div style="text-align:center">
            <h3>Pre-Nursery & Nursery</h3>
            <p> Monday to Friday:- 8:00 a.m to 12:30 p.m</p>
            <p>Saturday:- 8:00 a.m to 12:30 p.m</p>
            <br><br>
            <h3>1st to 10th</h3>
            <p> Monday to Friday:- 8:00 a.m to 1:30 p.m</p>
            <p> Saturday:- 8:00 a.m to 12:30 p.m</p><br><br>
            <i>School will remain close for all students on 4th Saturday of the Month.</i>
             </div>
        </div>
    </div>
</div>
