<div class="container p-5">
    <h1 style="text-align:center; font-size:60px">From Principal's Desk</h1>
            <br><br><br><br>
    <div class="row">
        <div class="col-8">
            <p>Dear Parents,<br>

                I Look forward to this new association with PVPS, Gurgaon with full of hope, happiness and   promise that each and
                every child becomes successful and productive member of PVPS family.
            </p>
            <p>
                Education is the greatest journey of life where there is a beginning but no end.  I wish excellence in performance, 
                global understanding, universal values and service to mankind become the building blocks of our educational edifice which
                go a long way exploring the child.
            </p>
            <p>   
                
                At PVPS, Gurgaon, we are committed to create a centre of excellence, and habitat of passion; where every child feels secure,
                liberated, more importantly celebrated.  Our commitment is deeply rooted and diligently crafted.  We have created a perfect
                balance of activities that facilitate the development of child holistically.  These activities go beyond the confines of the
                classroom and expose the children to varied experiences that promote individuality, creativity, spirit of inquiry and also
                develop in them a sound value system, self-confidence and positive attitude to face the challenges of an ever changing world.
                ant to empower our children to live life with respect, courage, compassion and have competencies to tread any path they choose to.
                We believe that education moulds the child for bright future and for better living.  Education enables the child to enroll him/her 
                in various activities which can place them to the desired places.
            </p>
            <p>                
                I take this opportunity to thank and congratulate all parents and teachers who motivated, guided and helped the school children
                to achieve commendable results in the Annual School Examinations.  I am pretty sure that our combined efforts will help our children
                to be the best in every discipline and that’s what we wish for.
            
           </p>
           <p>
               Principal,<br>
               Paradise Valley Public School,<br>
               Gurgaon
           </p>
        </div>
        <div class="col-4">
            <img src="../../assets/images/p3.jpeg">
        </div>
    </div>
</div>
