<div class="container p-5">
    <h1 style="text-align:center; font-size:60px">Contact Information</h1>
            <br><br><br><br>
    <div class="row ">
        
        <div class="col-6">
            <h3>Paradise Valley Public School</h3>
            <span>Plot No. 483 & 484, Near Radha Krishna Mandir,Kanhai,</span><br>
            <span>Gurugram,Haryana</span><br>
            <span>India</span><br>
            <span class='fas fa-phone'>&nbsp;<a href="9990217155">+9990217155</a></span><br>
            <span class='fas fa-phone'>&nbsp;<a href="8178337201">+8178337201</a></span><br>
            <span class='fas fa-envelope'>&nbsp;<a href="pvpsgurgaon@gmail.com">pvpsgurgaon@gmail.com</a></span><br>
        </div>
        <div class="col-6">
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28064.300087193198!2d77.06938173027389!3d28.448285608008394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d198071bde99f%3A0xe953f545160e4110!2sParadise%20Valley%20Public%20School!5e0!3m2!1sen!2sin!4v1583426439567!5m2!1sen!2sin"
                 width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                </iframe>
            </p>
        </div>

    </div>
</div>



