<div class="container p-5">
    <h1 style="text-align:center; font-size:60px">Director's Message</h1>
            <br><br><br><br>
    <div class="row">
        <div class="col-8">
            <p> Dear Parents,<br>

                On behalf of  Paradise family, I would like to welcome everyone to Paradise Valley Public School! It is a privilege to wish
                you all as director of Paradise Valley Public School and work with such a dedicated and professional staff. Our school has
                an outstanding reputation and I am proud to be part of such a wonderful community. PVPS is filled with enthusiastic students
                willing to learn supportive families interested in their children’s education and dedicated a professional staff committed 
                to providing the students with the highest quality education. At PVPS we strive to provide a rigorous, standard based 
                curriculum focused on students and their individual needs. We believe in educating the whole child focusing on academic,
                Social and emotional growth.
            </p>
            
            <p>
                I would like to encourage each family to stay active in your child’s education. I certainly realize that many of you lead 
                busy lives, and it is often difficult to volunteer at the school. However, taking just a few minutes in the evening to 
                read to your child, talk with your child about school, or simply see that your child is organized for the next school day
                can have great benefits. Education is a partnership between the school and the home, and we are fully vested in partnering
                with families to make sure each child reaches their full potential. we have always had wonderful family participation, 
                and I look forward to continuing this tradition. In advance thank you for all of your support!
            </p>
            <p>                
                We create a safe environment where respect, integrity, and carrying are continually taught and modeled. We focus on creating
                mosphere where everyone shows respect for differences in other people, custom, and cultures. We have many educational programs 
                that are infused into the daily curriculum that focused on achieving this goal.
            </p>
            <p>  
                I believe in open and frequent communication. If you need anything please feel free to contact me by email/phone or by 
                stopping by at PVPS. It is through working together that we will succeed in bringing the best educational opportunities
                to your child.
            </p>
            <p>
                
                It is my hope that you and your child enjoy the 2020-2021 school year and all the excitement it will bring!
                Please feel free to contact any of us at PVPS if you would like more information. I am proud to call myself a PVPS member
                and look forward to working together in the coming years!
            </p>
            <p>
                Mr.Sushil Kumar,<br>
                Director,<br>
                Paradise Valley Public School,<br>
                Gurgaon
            </p>
        </div>
        <div class="col-4">
            <img src="../../assets/images/p2.jpg.jpeg" >
        </div>
    </div>
</div>
